
{{!-- 
<table>
  {{#each model.attributes}}
  <tr>
    <td>
      <strong>{{this.key}}:</strong>
    </td>
    <td>
      {{this.value}}
    </td>
  </tr>
  {{/each}}
</table>

{{#link-to 'contest.edit' model}}Change{{/link-to}} --}}

{{outlet}}
