<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Contests
        </h1>
        <ol class="breadcrumb">

        		{{#link-to 'index' tagName="li" replace=true  }}
             <i class="fa fa-fw fa-dashboard"></i><a> Dashboard</a>
            {{/link-to}}
            {{#link-to 'contests' tagName="li" replace=true  }}
             <i class="fa fa-fw fa-users"></i> <a>Contest</a>
            {{/link-to}}
            {{#link-to 'gallery' tagName="li" replace=true  }}
             <i class="fa fa-fw fa-image"></i> Gallery
            {{/link-to}}
        </ol>
    </div>
</div>



<div class="row">
  <div class="col-lg-12" style="padding-bottom:25px;">
      <div class="col-lg-4">
        <img src="images/print1.jpg" class="img-thumbnail img-responsive" />
      </div>
      <div class="col-lg-4">
        <img src="images/print6.jpg" class="img-thumbnail img-responsive" />
      </div>
      <div class="col-lg-4">
        <img src="images/print3.jpg" class="img-thumbnail img-responsive" />
      </div>
  </div>
  <div class="col-lg-12">
      <div class="col-lg-4">
        <img src="images/print2.jpg" class="img-thumbnail img-responsive" />
      </div>
      <div class="col-lg-4">
        <img src="images/print5.jpg" class="img-thumbnail img-responsive" />
      </div>
      <div class="col-lg-4">
        <img src="images/print4.jpg" class="img-thumbnail img-responsive" />
      </div>
  </div>
</div>

